:root{
    --color1: #7E57C2;
    --color2: #F4EEFF;
    --color-edit: #0094FF;
    --color-red: #FF0000;
    --border-radius: 20px;
    --box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color2);
}

nav{
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color: white;
    padding: 0 25px;
}

.title{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.title span{
    margin-right: 40px;
}

.month{
    flex: 1;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.account{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--color2);
    margin-left: 30px;
}

.container{
    max-width: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap: 1.3rem;
    position: relative;
    min-height: 70vh;
}

.container p,h3{
    margin: 0;
}

.card {
    /* min-width: 170px;
    max-width: 200px; */
    max-height: 230px;
    border-radius: var(--border-radius);
    /* aspect-ratio: 1; */
    box-shadow: var(--box-shadow);
    padding: 20px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-photo{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: var(--color1) 3px solid;
    margin-bottom: 10px;
}

.employee-name{
    margin-bottom: 5px;
}

.employee-email,.employee-username, .employee-phone{
    font-size: 14px;
    color: var(--color1);
}

.action{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.card a{
    text-decoration: none;
}

.edit{
    color: var(--color-edit);
    margin-right: 40px;
}

.delete{
    color: var(--color-red);
}

.add-employee{
    background-color: var(--color1);
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}